/* WebTree.css */

.web-tree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #E4E9FB;
  overflow: auto;
  padding-top: 30px;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 2px solid green;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.parent-cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.parent-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 2px solid blue;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.sibling-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.sibling-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 2px solid blue;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.line-parents {
  display: flex;
}

.line-siblings {
  display: flex;
}

.line {
  background-color: black;
  width: 2px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0052a3;
}

.back-button:focus {
  outline: none;
}


