/* Dashboard.css */

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #E4E9FB;
    overflow: auto;
    padding-top: 50px; /* Slightly less space between navbar and card */
}

.dashboard-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    z-index: 1000;
}

.username {
    font-weight: bold;
    padding-left: 20px;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 20px;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Needed for absolute positioning of the '+' button inside */
    background-color: #FFFFFF;
    padding: 20px;
    border: 2px solid blue; /* Added blue border */
    border-radius: 10px;
    width: 60%; /* Adjusted width for smaller overall size */
    margin-top: 90px; /* Reduced margin-top to bring card closer to navbar */
}

.dashboard-section {
    width: 100%;
    margin-bottom: 20px;
}

.family-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.family-member {
    width: 48%; /* Ensures two members per row */
    margin-bottom: 10px;
    padding-right: 15px; /* Increased padding for more space between columns */
    box-sizing: border-box;
}

.dashboard-section input, .dashboard-section select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

.add-button, .delete-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
}

.add-button {
    background-color: #ADD8E6; /* Light blue background */
    padding: 3px 7px; /* Smaller padding for a smaller button */
    position: absolute; /* Positioning the button at the bottom right */
    bottom: 20px; /* Distance from the bottom of the card */
    right: 20px; /* Distance from the right of the card */
}

.add-button:hover, .delete-button:hover {
    background-color: #45a049;
}

.submit-button {
    background-color: #ADD8E6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 30%; /* Smaller and more centered button */
    align-self: center; /* Ensures button is centered */
}

.submit-button:hover {
    background-color: #5CACEE;
}
