/* Dashboard.css */

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #E4E9FB;
    overflow: auto;
    padding-top: 30px; /* Adjusted for better spacing */
}

.dashboard-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    z-index: 1000;
}

.username {
    font-weight: bold;
    padding-left: 20px;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 20px;
}

.h3-description {
    margin-top: 40px; /* Space below navbar */
    text-align: center;
    width: 100%;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    width: 60%;
    margin-top: 20px; /* Adjusted for visual balance */
    position: relative; /* Needed for positioning the '+' button */
}

.dashboard-section {
    width: 100%;
    margin-bottom: 20px;
}

.family-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.family-member {
    width: 48%; /* Ensures two members per row */
    margin-bottom: 10px;
    padding-right: 15px; /* More space between columns */
}

.dashboard-section input, .dashboard-section select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

.add-button, .delete-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
}

.add-button {
    background-color: #ADD8E6;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.delete-button {
    background-color: #FFA07A; /* Light red background */
    padding: 3px 7px; /* Smaller padding for a smaller button */
}

.delete-button:hover {
    background-color: #DC143C; /* Darker red on hover */
}

.add-button:hover {
    background-color: #5CACEE;
}

.submit-button {
    background-color: #ADD8E6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 10%; /* Smaller width */
    align-self: center; /* Ensures button is centered in the dashboard card */
}

.submit-button:hover {
    background-color: #487894;
}
